/BattleCityClone/BattleCityClone.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/BattleCityClone/BattleCityClone.xcodeproj/project.xcworkspace/xcuserdata/oleygenua.xcuserdatad/UserInterfaceState.xcuserstate
/BattleCityClone/BattleCityClone.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/BattleCityClone/BattleCityClone.xcodeproj/xcuserdata/oleygenua.xcuserdatad/xcschemes/xcschememanagement.plist
/.DS_Store
.DS_Store
/BattleCityClone/resources
/BattleCityClone/BattleCityClone.xcodeproj/xcuserdata
